<!--Titulo-->
	<div class="row">
		<div class="col-md-5">
		</div>
		<div class="col-md-2" id="title" class="title" >
      <h2 class="title"><font color="#FFA500">Bem Vindo a Pharmateam</font></h2>
		</div>
		<div class="col-md-5">
		</div>
	</div>

<!-- linha por baixo do titulo-->
<div id="page76_spacerline1" class="spacerline1_wp_outer wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="10" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
<hr style=" border: 0; height: 2px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #a46a44, rgba(0,0,0,0));background-image:-moz-linear-gradient(left, rgba(0,0,0,0), #a46a44, rgba(0,0,0,0));background-image:-ms-linear-gradient(left, rgba(0,0,0,0), #a46a44, rgba(0,0,0,0));background-image:-o-linear-gradient(left, rgba(0,0,0,0), #a46a44, rgba(0,0,0,0));">
<div class="clear_div" style="clear:both;height:0px;">&nbsp;</div></div>

<!-- Descricao da nossa Farmacia em 2 colunas-->

<div class="row">
      <div class="col-lg-2">

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p>A Pharmateam é a sua farmácia de serviço para todas as suas necessidades. Trabalhamos para lhe proporcionar cuidados, serviços e produtos para a sua saúde.<br><br>
        Os nossos farmacêuticos e técnicos de outras especialidades (nutricionista, podologista, cosmetologista-esteticista, etc) colocam a sua competência, rigor profissional e simpatia ao seu serviço.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p>Proporcionamos vários serviços e cuidados de saúde em várias áreas: Ortopedia, Dermocosmética, Produtos de Saúde Oral, Homeopatia, Produtos para Grávida, Produtos para Emagrecimento, Suplementos Alimentares.<br><br>
        Esforçamo-nos para ter a melhor relação preço/qualidade do mercado, de modo a satisfazer as necessidades de todos os nossos clientes.</p>
      </div><!-- /.col-lg-4 -->
       <div class="col-lg-2">

      </div><!-- /.col-lg-4 -->
    </div>

<!-- fotos da farmacia -->

<div class="row">
  <div class="col-md-4">
    <img src="./images/070.jpg" alt="1" style="width:100%">
  </div>
  <div class="col-md-4">
    <img src="./images/071.jpg" alt="2" style="width:100%">
  </div>
  <div class="col-md-4">
    <img src="./images/124.jpg" alt="3" style="width:100%">
  </div>
</div>


<div class="row">
		<div class="col-md-5">
		</div>
		<div class="col-md-2" id="title" class="title" >
      <h2 class="title"><font color="#FFA500">Conheca a nossa Equipa</font></h2>
		</div>
		<div class="col-md-5">
		</div>
	</div>








